[2016-02-11 12:00] dinodsaurus opened #1 "Move this site to CMS.js"
We need to move our site to [CMS.js](https://cdmedia.github.io/cms.js/)

[2016-02-11 12:01] dinodsaurus opened #2 "Pulling of previous talks"
We need to pull our previous talks from [Slides repo](https://github.com/jszgb/slides)

[2016-02-11 12:02] dinodsaurus commented on #2
Or maybe even better to put everything in one place(into this repo)...

[2016-02-11 12:03] dinodsaurus opened #3 "Adding news"
We need to be able to add news to our site

[2016-02-11 12:04] dinodsaurus opened #4 "We need to be able to announce upcoming meetups"

[2016-02-15 11:58] #1 closed

[2016-02-15 11:58] #3 closed

[2016-02-15 11:58] #4 closed

[2016-02-15 12:08] dinodsaurus commented on #2
We will only use this repo :+1:

[2016-02-15 12:08] #2 closed

[2016-02-24 17:01] dinodsaurus opened #9 "Write a better README"
We need to write a better readme so it is easier for new people to contribute and join our community.
It should:
- [x] Explain the purpose of jsZgb community
- [x] For any questions please open an issue
- [x] Explain how to propose a presentation topic with `issues`
- [x] Explain how `slides` folder works
- [x] Link to our ~~gitter~~ slack channel
- [x] Link to our meetup page
- [x]  Add [code of

[2016-02-24 19:16] dinodsaurus opened #10 "Interactive API documentation"
There is this cool automatic API documentation lib http://swagger.io/ - https://github.com/swagger-api/swagger-node

---

Some other libs:
- https://github.com/mashery/iodocs
- http://apidocjs.com/

[2016-02-24 19:46] dinodsaurus opened #11 "Add slackin to our site"
Add https://github.com/rauchg/slackin to our site so we dont need to invite people manually

[2016-02-24 20:12] dinodsaurus commented on #10
Candidate - @mihaelamj

[2016-02-24 20:28] dinodsaurus opened #12 "Add favicon"
Add jsZgb logo as favicon to our site

![img](https://avatars3.githubusercontent.com/u/5462955?v=3&s=200)

[2016-02-24 21:35] dinodsaurus commented on #11
https://jszgb-slackin.herokuapp.com/

[2016-02-24 21:35] #11 closed

[2016-02-24 22:21] mieszko4 opened #14 "Javascript generators"
Idea of presentation about different ways of handling asynchronous programming in es6: callbacks, Promises, generator/yield, async/wait (maybe just mention since it is in es7).

Then extending on generators with coroutines: data producers + data consumers => coroutines

Reference: http://exploringjs.com/es6/ch_generators.html

[2016-02-24 22:39] mieszko4 opened #15 "ES6 & ES7"
Quick summary of new features of es6. Examples of how something is done in es5 and how can it be done in es6, i.e. how es6 solves some of es5 problems.

Depending on time more details on some of the features like:
- module import/export
- WeakMap/WeakSet
- template literals (e.g. https://github.com/lukehoban/es6features/issues/49#issuecomment-146866137)
- pattern matching and default parameters
-

[2016-02-24 22:52] mieszko4 opened #16 "Streaming in JavaScript"
Idea of presentation showing how streaming is a nice approach for processing data.

I would go with this example: https://bitbucket.org/mieszko4/intercom-drinks.

First some introduction on functional programming and basic map, reduce, filter functions and how to solve this task using these functions.

Then I would go with introduction of streams and how to solve this task using streams and then e

[2016-02-25 09:34] dinodsaurus commented on #12
I think its not solved, because I dont see it in chrome:( , tried in normal mode and also in icognito. On safari and firefox works fine (but maybe its my cache), so if it works for others we can close it :+1:

[2016-02-25 10:47] dinodsaurus commented on #9
@shime could you do this one ?

[2016-02-25 11:12] shime commented on #12
works for me :+1:

[2016-02-25 11:12] #12 closed

[2016-02-25 15:18] dinodsaurus commented on #9
This looks nice on first, but we could add some more badges(slack, twitter etc) and text (how to add an issue, how to contribute to our community) I think @silvenon can do some magic on this one :D

[2016-02-25 22:53] silvenon commented on #9
Sure!

[2016-02-26 11:37] #9 closed

[2016-02-27 19:33] dinodsaurus opened #17 "Slides history"
Go trough [meetup.com ](http://www.meetup.com/JavaScript-Zagreb/) history and collect all the presentation(slides) from meetups that were held in past and input them to our `slides/slides.md` file

[2016-02-29 15:17] dinodsaurus opened #18 "Make jsZgb logo a hexagon"
Take our `logo.svg`and make a hexagon from it

[2016-02-29 15:18] zappan commented on #18
@dinodsaurus why?

[2016-02-29 15:42] retro commented on #18
No!

[2016-02-29 15:42] #18 closed

[2016-02-29 16:20] dinodsaurus commented on #18
I know this is your baby @retro, we will use the current one for almost everything but I would like to follow [hipster](http://hexb.in/) trends and also have a jsZgb logo as a haxagon (we were planing to do some sticker printing and nodeschool zgb logo is a hexagon so it would be a better match)
![nodeschool zagreb](https://github.com/nodeschool/zagreb/raw/master/zagreb.png)

[2016-03-01 06:46] Vj3k0 opened #19 "Introduction to Electron"
Electron enables you to create cross-platform desktop apps with web technologies. It is based on Chromium and uses Node.js to enable working with OS, and HTML, CSS and JavaScript for UI.

Presentation would contain:

* introduction
* list good and bad sides
* comparison with similar solutions
* demo and quick overview
* (extra) tips and tricks

For years I've been working as an ActionScript develo

[2016-03-01 10:15] dinodsaurus commented on #19
Thanks a lot and nice job with your blog!

[2016-03-08 10:19] dinodsaurus commented on #19
Može ova prezentacija za tjedan dana? @Vj3k0

[2016-03-08 13:50] Vj3k0 commented on #19
@dinodsaurus Moze!

[2016-03-08 14:20] dinodsaurus commented on #19
Odlicno, cini mi se da bi ovo mogli razdvojiti u vise predavanja?
Tipa `intro`,`intermediate`, `deploy`
Ima to smisla ?

[2016-03-08 16:29] Vj3k0 commented on #19
Mogao bi podjeliti u seriju predavanja. U principu ove sve stvari koje sam izlistao mogu biti introduction ( s time da ne pokazujem detaljno kod u demou i tips and tricks ostavim kao ekstra).
Jedno predavanje bi mogao napravit live session da u principu napravim demo aplikaciju i objasnim detaljnije kod. A dodatno bi mogao jos napravit i prezentaciju o deployu (no trenutno jos radim na tome da izb

[2016-03-16 21:28] silvenon commented on #15
Me and Luka can take this one :+1: A great excuse to learn some features I don't know about yet.

[2016-03-17 09:54] dinodsaurus commented on #15
@lblazecki :100:

[2016-03-17 15:59] silvenon commented on #17
Nodeschool too?

[2016-03-17 16:16] silvenon opened #20 "Move all demo repositories to jszgb"
I often do live coding presentations and therefore have repositories lying around on my account which might not be there forever. The best place for them would probably be in the jszgb GH organization, and we could do that with future demos as well. What do you think?

[2016-03-17 21:46] dinodsaurus commented on #20
Yep, sounds good to me, but we just need to find a way how to organise it properly

[2016-03-18 09:51] dinodsaurus opened #22 "NodeSchool International Day 21st May"
#### Saturday 21st May 2016
- [x] Pick location
- [x] Find 5 core people
- [x] Print NodeSchool Zagreb stickers
- [x] Print Posters for the event
- [x] Decide on number of participants
- [x] Create sign up page earlier (maybe already May 1st?)
- [x] Find sponsor for drinks and snacks
- [x] Find marketing partners to spread the word (mailinglist, facebook, twitter etc.)
- [x] Find enough mentors (d

[2016-03-18 09:52] dinodsaurus commented on #17
nop

[2016-03-20 00:56] silvenon commented on #17
[You linked](http://www.meetup.com/JavaScript-Zagreb/events/221413790/) your browserify + React repo there, but I don't see you in the description. Did you have a spontaneous presentation? What is a short description of your talk?

[2016-03-20 23:22] dinodsaurus commented on #17
Yea, it was kinda lightning talk, introduction to react and ES6 ;)

[2016-03-20 23:22] #17 closed

[2016-04-09 08:27] silvenon opened #25 "Down with jQuery"
I would like to convince people that they (probably) don’t need jQuery (anymore).

[2016-04-13 12:55] dinodsaurus commented on #22
Our sponsor/partner for this event will be Five - http://five.agency

[2016-04-14 11:35] dinodsaurus commented on #22
New design is here!!!!
If someone is willing to slice it, he is more then welcome :)
https://www.dropbox.com/s/q69fyu1tnnug1si/nodeschool.jpg?dl=0

[2016-04-14 14:27] vblazenka commented on #22
@dinodsaurus  ako ti se niko ne ponudi mogu ja iskodirati to :)

[2016-04-25 09:34] dinodsaurus commented on #16
Wohoo, we can close this one.. It was an awesome presentation!!!!
Tnx @mieszko4 👍

[2016-04-25 09:34] #16 closed

[2016-04-27 08:12] #19 closed

[2016-04-27 08:13] Vj3k0 opened #28 "Making desktop apps with Electron"
Electron enables you to create cross-platform desktop apps with web technologies. In this live coding session, we’ll build simple Electron application from scratch and publish it for Windows and OSX.

[2016-04-27 09:14] #28 closed

[2016-04-27 13:09] silvenon opened #29 "redux-saga"
I would like to give a presentation about [redux-saga](https://github.com/yelouafi/redux-saga), a side-effect library for Redux.

[2016-05-05 12:03] mkdizajn commented on #25
I'm +1 this!

[2016-05-06 18:41] silvenon commented on #25
@dinodsaurus I would like to do this presentation in the next meetup.

## You (probably) don't need jQuery (anymore)

There was a time when browsers were handling DOM, AJAX etc. very differently. Normalizing these manually was a pain, so libraries like jQuery were invaluable. Now that browsers have more-or-less agreed upon these things and frameworks have started to rise, jQuery has become an unne

[2016-05-06 18:42] dinodsaurus commented on #25
Awesome!

[2016-05-19 11:04] dinodsaurus commented on #22
Wohoooo we are good to go!!!

[2016-05-19 11:04] #22 closed

[2016-06-06 13:09] teodragovic opened #31 "Service Workers"
Hi. I would like to propose talk about Service Workers. Talk would cover the what of Service Workers, their prerequisites and how can we use SW to make websites available offline, control network conditions and create conditional actions depending on requests our website makes (+ some bonus features).

Talk would be given in Croatian. Duration TBD.

[2016-06-06 13:48] dinodsaurus commented on #31
Awesome!
We are full for this month and we will have a summer break.. but we will continue in September so we will keep in touch ;)

[2016-06-16 07:56] dinodsaurus opened #32 "Drinkup over summer"
When should we organize a drinkup this summer?
So we can meet before next session of meetup starts :)

[2016-06-16 09:33] lblazecki commented on #32
Maybe to ask it on meetup page?

[2016-06-16 09:51] perpaer commented on #32
Maybe we should make a poll in which people could vote on a certain week which is most suitable to them; then after the poll, decide on which day/date.
Just my two cents.

[2016-06-16 10:01] HBalija commented on #32
If we are aiming for a "proper" drinkup, I vote for a Friday or Saturday. Mid July maybe... Otherwise it will be a coffee.js :)

Hrvoje

[2016-06-16 17:08] dinodsaurus commented on #32
I would say proper drinkup 🍻

[2016-07-01 07:33] #25 closed

[2016-08-22 08:14] elkarrde opened #33 "Talk proposal: Why I stopped using CoffeeScript"
Hi! I'd like to propose a talk titled **Why I stopped using CoffeeScript**.

As much of you know, I've been using CoffeeSscript for better part of four years, and now I've stooped using it in favour of pure, plain vanilla JavaScript, not even fancy-pants ES6. I'd like to share my experience with CoffeeScript, and the reasons why I'm no longer using it.

Talk would be in Croatian, timed for shorter

[2016-08-22 08:23] lblazecki commented on #33
Hello @elkarrde

This seams as an interesting and fun talk :)
I share your idea that ES6 in now taking over.

What is your proposed time length for the talk?
Can you post your slides here?

[2016-08-22 08:29] elkarrde commented on #33
@lblazecki I should be able to fit in shorter time-slot - that's 20-ish minutes, or something like it, isn't it?

I have no definitive slides yet, just general ideas, so I'm flexible with timing.

[2016-08-22 08:41] lblazecki commented on #33
@elkarrde that's great time length.
I have added you to https://github.com/jszgb/jszgb.github.io/blob/master/slides/upcoming.md

We could do this talk in September or in October.
Can you provide slides in next few weeks?

[2016-08-22 08:43] elkarrde commented on #33
@lblazecki that's great, thanks!

Sure, I'll crunch down those slides asap, and let you know when I'm done - next week, probably.

[2016-09-10 09:18] dinodsaurus opened #34 "Rewrite the website to phenomic static site generator"
https://github.com/MoOx/phenomic

[2016-09-10 09:49] dinodsaurus commented on #33
@elkarrde Can you have this presentation this month? (21.9)

[2016-09-10 20:24] elkarrde commented on #33
@dinodsaurus Sure, no problem.

[2016-09-19 10:14] dinodsaurus commented on #33
@elkarrde Could you just give me your email so I can send you your free ticket for webcamp :)

[2016-09-19 13:58] elkarrde commented on #33
@dinodsaurus Yippie! It's nfalica@gmail.com.
Also, the talk is up and running: http://bit.ly/2ddB7jj
Also, on Github: https://github.com/elkarrde/jszg-whyistoppedusingcoffeescript

[2016-09-21 20:39] dinkom opened #35 "React Storybook"
Hi! I would like to propose a talk about building and testing React components with the help of React Storybook: https://github.com/kadirahq/react-storybook and some test libraries that play along nicely.

The talk would be 15-20 minutes and would include some live examples and perhaps a bit of coding (which always goes terribly wrong, but let's risk it). It could be either in Croatian or in Engli

[2016-09-22 07:08] lblazecki commented on #35
Hi @dinkom

This looks like an interesting topic!
20 min is ideal time for presentation (with live coding).
You can prepare slides in English and we can see then on a day of the meetup if there is a need to speak in English or Croatian is ok.

What do you think, could a presentation be ready for next meetup?

[2016-09-22 08:22] dinkom commented on #35
Sure, it can be ready. Do we even have a meetup next month due to WebCamp?

[2016-09-22 11:40] lblazecki commented on #35
Yes. WebCamp is on 28/29 of October and meetup should be on 19 of October.

[2016-10-01 11:50] shime commented on #32
Apparently not happening 😄

[2016-10-01 11:50] #32 closed

[2016-10-24 09:54] dinodsaurus commented on #35
Can we move this for the next month @dinkom ?

[2016-10-24 09:55] #33 closed

[2016-10-24 09:56] dinodsaurus opened #36 "Serverless"
Someone should talk about serverless https://serverless.com/

[2016-10-24 10:03] dinodsaurus commented on #31
Hey @teodragovic are you still interested to give a talk about service workers ?

[2016-10-24 10:04] dinodsaurus commented on #14
I think @lblazecki gave a talk about this, so I can close it ;)

[2016-10-24 10:04] #14 closed

[2016-10-24 17:57] teodragovic commented on #31
Yes, but I can't do it before december. Do you have some dates in mind?

[2016-10-25 12:02] dinkom commented on #35
Sure, I was just about to ask.

[2016-11-04 13:35] slavede opened #37 "Presentation proposal: How to write your own Yeoman generator"
Hi guys, I've already reported a presentation which I would give here https://github.com/jszgb/jszgb.github.io/blob/master/slides/upcoming.md. "How to write your own Yeoman generator"

Is this still OKpresentation for you and if so, would I be able to give one this or next (in December) meetup? Or you are already full for this year?

[2016-11-04 14:28] lblazecki commented on #37
Hey @slavede
You can give it this month. Can you please send short review?

[2016-11-04 14:33] slavede commented on #37
Hey @lblazecki , thanks! I'll create short review today/tomorrow (probably tomorrow) and send it, ok?

[2016-11-04 14:34] lblazecki commented on #37
Great!

[2016-11-05 13:05] slavede commented on #37
Hey @lblazecki , I guess this could be a review?

Yeoman is being used for easy scaffolding of your project. There is a ton of Yeoman generators online, but what if you don't like any of them and you want something different. Then you can create your own Yeoman generator and build on it.
I will give short introduction through slideshow/code how you can create simple Yeoman generator, publish it an

[2016-11-07 07:41] lblazecki commented on #37
@slavede this is good!
thank you and see you on a meetup :)

[2016-11-08 09:26] dinkom commented on #35
Wasn't I supposed to give a talk this month?

[2016-11-08 09:39] vblazenka commented on #35
If you guys want you can postpone my talk for December. I didn't even open the issue for my talk. I think that it would be fair that dinkom gives his talk first.

[2016-11-08 09:41] dinodsaurus commented on #35
Heeey.. sorry for this it is my mistake...
thanks @wedranb 👍  so @dinkom if you want you can do it this month. Just send me the details and I will replace the text on meetup.com

[2016-11-09 10:52] dinkom commented on #35
I can go next time (so we don't confuse the people who already read the announcement), it's not a problem at all - just don't forget me next month 😄  @dinodsaurus @lblazecki @wedranb

[2016-11-09 12:42] lblazecki commented on #35
sure :)

[2016-11-09 12:45] lblazecki commented on #35
@dinkom
Can you please create a short intro that we will put on JS meetup page

[2016-11-14 10:21] lblazecki commented on #35
@dinkom

[2016-11-14 11:04] silvenon commented on #35
Can't wait for this talk, I'd love to hear about this. 👍

[2016-11-17 15:28] #37 closed

[2016-11-30 12:14] DyslexicDcuk opened #40 "RxJS introduction"
Hey, just to make is official: I'd like to give a short RxJS introduction in January. We've been using RxJS for a few months with angular 2 and also a bit on the server-side with node.

[2016-11-30 13:42] lblazecki commented on #40
That's very interesting topic!

Not sure if we will have free spots in January. But let's be in touch.

[2016-12-01 07:06] damirsehic commented on #40
Either that or some later date @lblazecki

[2017-01-03 20:50] damirsehic commented on #40
@lblazecki I think you said 3rd of January so here you go.

RxJS Introduction - Reactive programming, Observables, timeless patterns and new implementations
Damir Šehić

RxJS (Reactive Extensions for JavaScript) is a library for transforming, composing, and querying streams of data. You can use it to model all kinds of data: from simple arrays of values, series of events (unfortunate or otherwise)

[2017-01-04 10:39] lblazecki commented on #40
Thank you. Meetup is updated:
https://www.meetup.com/JavaScript-Zagreb/events/236663279/

[2017-02-08 09:26] silvenon commented on #35
@lblazecki should this be closed?

[2017-02-08 09:26] #35 closed

[2017-02-08 09:26] #40 closed

[2017-02-08 09:30] silvenon commented on #29
Since then I moved away from redux-saga, so I'll close this. If people express desire to hear about this topic, we can reopen this as a presentation request.

[2017-02-08 09:30] #29 closed

[2017-02-13 14:12] zeljkofilipin opened #43 "Selenium + JavaScript = 😕🤔😳"
I would like to propose the following presentation idea: Selenium + JavaScript = 😕🤔😳

There are several Selenium bindings in JavaScript. I will compare a few of the most popular:
- [WebDriverJs](https://github.com/SeleniumHQ/selenium/wiki/WebDriverJs),
- [WebdriverIO](http://webdriver.io/),
- [Nightwatch.js](http://nightwatchjs.org/).

I can give this presentation. I'm qualified to do it because:

[2017-02-13 17:28] dinodsaurus commented on #43
Sounds awesome to me!
Could you do this in march?

[2017-02-13 17:38] zeljkofilipin commented on #43
If I don't already have something else, sure. Is the date/time for March already set?

[2017-02-13 17:41] dinodsaurus commented on #43
15.3 :1st_place_medal:

[2017-02-13 17:44] zeljkofilipin commented on #43
2017-03-15 is good for me!

[2017-03-16 13:47] abarisic86 opened #44 "Jest"
I would like to propose a presentation about [Jest](https://facebook.github.io/jest/). It is complete JavaScript testing solution that works out of the box for any React project. I started to use it on my own projects so I can give the presentation. If somebody has more experience with it, please write your own opinion about it or things that definitely should be mentioned in presentation.

[2017-03-16 14:07] dinodsaurus commented on #44
Do you want to do this presentation in april?

[2017-03-16 14:08] dinodsaurus commented on #43
Could you just send a PR with edits to `slides/slides.md`

[2017-03-16 14:12] abarisic86 commented on #44
That's the plan. But, I will definitely confirm in week or so.

[2017-03-16 14:48] zeljkofilipin commented on #43
Done: https://github.com/jszgb/jszgb.github.io/pull/45

[2017-03-16 14:59] dinodsaurus commented on #43
Thanks a lot!

[2017-03-16 14:59] #43 closed

[2017-04-01 08:28] gajo4256 commented on #36
maybe we could also evaluate and show https://github.com/claudiajs

[2017-04-01 09:53] dinodsaurus commented on #36
Wohooo :1st_place_medal:
So @gajo4256 will do a presentation about that in May

[2017-04-01 09:54] silvenon opened #47 "Snapshot testing"
I would like to talk about the benefits snapshot testing (with Jest) and when exactly to use it.

[2017-04-01 11:40] abarisic86 commented on #47
Useful presentation https://www.youtube.com/watch?v=HAuXJVI_bUs

[2017-04-19 10:24] dinodsaurus commented on #44
Whats your plan about this presentation? 💃

[2017-04-19 10:26] WhitePointX opened #48 "Redux-Saga"
Hello, I would like to propose talk about Redux-Saga.
Talk would cover explanations on how Saga and Thunk work and their differences.

[2017-04-19 10:28] dinodsaurus commented on #48
Sounds awesome! We will do that in june :1st_place_medal:

[2017-04-19 17:11] abarisic86 commented on #44
My plan was to do it next month but I guess it isn't optimal to talk about Jest two times in a row. (after Jest snapshot testing)

[2017-05-15 07:40] #47 closed

[2017-05-15 07:41] dinodsaurus commented on #44
hey, do you wanna talk about jest this month?

[2017-05-15 07:41] dinodsaurus commented on #48
sounds good!

[2017-05-15 07:42] dinodsaurus commented on #36
@gajo4256 wanna talk this month?

[2017-05-15 08:18] gajo4256 commented on #36
hi @dinodsaurus, I'm a little tight with the time, but if there aren't any other candidates I will try to prepare it. Could you let me know until the end of the day if there is anybody for Wednesday? If not, count me in, I will do it somehow.

Thnx

[2017-05-15 17:07] gajo4256 commented on #36
@dinodsaurus I will send you my talk desc sometime this evening. Count me in for Wednesday.

Gajo

[2017-05-15 20:07] dinodsaurus commented on #36
Thanks a lot, sounds awesome!!!

[2017-05-16 09:34] dinodsaurus commented on #44
Ok, I will move you to the next month @abarisic86

[2017-05-18 09:45] #36 closed

[2017-06-28 18:09] silvenon opened #49 "Babel"
I would like to talk about Babel in depth because I got a pretty good hang of it. It can be a pretty big source of fatigue, especially for beginners, so I believe it would be helpful and clear some things up.

Is this something you would be interested in?

[2017-06-28 18:10] vblazenka commented on #49
Sounds nice!

[2017-10-18 22:34] #48 closed

[2017-10-18 22:34] #49 closed

[2017-10-18 23:03] Predjo opened #50 "Blockchain with NodeJS & TypeScript"
Hello, I would like to propose a talk about creating a simple blockchain using NodeJS & TypeScript. I would talk about some basic concepts of the blockchain and how to create them using aforementioned technologies. I plan to make it as simple as possible so everyone can understand.

[2017-11-08 09:37] dinodsaurus commented on #50
Can you give me a short desc of the talk?

[2017-11-08 20:06] Predjo commented on #50
Building your own Blockchain with NodeJs & TypeScript

Everyone is talking about Blockchain these days. But do you have any idea how it works? If no, hopefully I can help you with that. And the best way to understand something is by building it yourself. We will start form the basic cryptographic functions in Node to understanding transactions, blocks, mining and the basic proof of work system.

[2017-11-10 16:57] silvenon opened #51 "Without Leaving Your Text Editor"
I would like to propose the following talk:

# Without Leaving Your Text Editor

As JavaScript developers we have to leave our precious text editors fairly often to run our code only to find out that we had a typo, imported a module incorrectly or some other silly mistake.

In this talk I will show how you can use ESLint and Flow to detect these mistakes much sooner, without leaving your text edit

[2017-11-22 18:46] dinodsaurus opened #52 "Styling React Components"
CSS-in-JS solutions for React, for example:

- [styled-components](https://github.com/styled-components/styled-components)
- [emotion](https://github.com/emotion-js/emotion)

[2017-11-22 22:32] dinodsaurus commented on #50
It was awesome!

[2017-11-22 22:32] #50 closed

[2017-11-22 22:33] #51 closed

[2017-11-23 09:53] hbagarich opened #53 "TypeScript and React - the complete solution"
Hi,
I would like to propose the following presentation: TypeScript and React.
I would show the basic concepts of TypeScript and how they can be leveraged to write React components more easily.
In the demo I would show:
- basic TypeScript concepts (classes, interfaces, enum, type checking and @types packages)
- how to setup the project and tsconfig
- how to configure webpack
- how to use tslint to

[2017-11-23 10:43] vblazenka commented on #53
I would love to hear this talk! Maybe add some TS vs Flow comparison to the talk to spice it up, if there is time left for it? ;)

[2017-11-23 10:58] dinodsaurus commented on #53
sounds good to me!

[2017-11-23 11:17] hbagarich commented on #53
@wedranb Nice suggestion, I'll find time to include it into presentation :)

[2017-11-23 12:34] anovoselnik opened #54 "Introduction to React state management with MobX"
I would like to talk about MobX state management in React.
Talk outline:
- What is MobX?
- MobX concepts
- Example react app with MobX
- QA

[2017-12-19 15:14] dinodsaurus commented on #34
It's done using gatsby

[2017-12-19 15:14] #34 closed

[2017-12-20 08:37] wedranb opened #56 "Creating fast and type-safe React apps with Reason"
Learn how to use Reason and React to write simple and fast apps while leveraging type-safe code with both the JavaScript & OCaml ecosystem.

In this presentation, I will demo simple app that I prepared and I will go through implementing a simple feature so that everyone can see the process.

Demo will show:
- Benefits of Reason
- Major differences between Reason and JavaScript
- Comparison of Flow

[2017-12-20 09:45] silvenon commented on #56
Yesssss!

[2018-01-09 11:00] dinodsaurus commented on #53
Do you wanna have this talk next week?

[2018-01-09 11:00] dinodsaurus commented on #54
Do you wanna have this talk next week?

[2018-01-09 14:00] anovoselnik commented on #54
@dinodsaurus I can't, I am away next week, can do it next month.

[2018-01-09 17:00] dinodsaurus commented on #54
ok, cool 👍

[2018-01-10 08:42] hbagarich commented on #53
If that's an option, I'd prefer to do the talk next month as I'm a bit busy at the moment? :(

[2018-01-10 08:54] dinodsaurus commented on #53
ok sure, then february 👍

[2018-01-30 18:13] #10 closed

[2018-01-30 18:13] #15 closed

[2018-01-30 18:13] #31 closed

[2018-01-30 18:13] #44 closed

[2018-01-30 20:24] silvenon opened #57 "Writing codemods with jscodeshift"
I would like to propose a talk about [jscodeshift](https://github.com/facebook/jscodeshift) with the following description:

[2018-01-31 09:09] dinodsaurus commented on #57
Wow, sounds awesome!!!
February?

[2018-01-31 11:51] dinodsaurus commented on #56
March!!! 🥇

[2018-01-31 12:01] dinodsaurus opened #58 "Move each slide to a separate markdown file"
Move each meetup from https://github.com/jszgb/jszgb.github.io/blob/develop/src/pages/slides/slides.md to a separate file and create a page that lists all of them with pagination.

[2018-01-31 12:03] dinodsaurus commented on #58
@wedranb could you do this one?

[2018-01-31 12:04] dinodsaurus opened #59 "Add missing meetups to slides markdown"
Add all the missing meetups from https://www.meetup.com/JavaScript-Zagreb/ to the slides markdown file - https://github.com/jszgb/jszgb.github.io/blob/develop/src/pages/slides/slides.md

[2018-01-31 12:49] vblazenka commented on #58
Sure!

[2018-01-31 15:59] silvenon commented on #57
Yep!

[2018-02-07 10:29] silvenon opened #60 "Elm"
I would very much like to hear about this topic. I’m not sure if this has already been a topic recently, but I’m very curious what the fuss is about. :smile:

[2018-02-07 12:34] vblazenka commented on #60
I can give this talk, or do you want it?

[2018-02-07 17:07] MislavMandaric opened #61 "Building responsive layouts for React Native"
I would like to propose a presentation of our new open source library for building responsive React Native layouts - [React Native Responsive Layout](https://www.npmjs.com/package/react-native-responsive-layout).

We believe this library solves a real problem and that is a pain of building responsive layouts that look great both on phones and tablets, of any size and resolution. Lots of concepts w

[2018-02-07 22:38] dinodsaurus commented on #60
@wedranb I think @silvenon wants to hear about it ;)

[2018-02-07 22:39] dinodsaurus commented on #61
Sounds good! 💃
This talk will be held in March 👏

[2018-02-09 00:44] silvenon commented on #60
Yes, this is a request. Yay, @wedranb, do it! :tada:

[2018-02-09 12:47] dinodsaurus commented on #54
Is February 21st ok @anovoselnik ?

[2018-02-09 12:47] dinodsaurus commented on #53
Is February 21st ok @hbagarich ?

[2018-02-09 12:57] anovoselnik commented on #54
Yes :) @dinodsaurus

[2018-02-09 13:13] dinodsaurus commented on #54
Can you give some more details like this one - https://github.com/jszgb/jszgb.github.io/issues/57

[2018-02-09 13:37] hbagarich commented on #53
Sounds good! :)

[2018-02-09 19:49] dinodsaurus commented on #53
could you write donw a short desc like this one - https://github.com/jszgb/jszgb.github.io/issues/57

[2018-02-12 09:21] hbagarich commented on #53
@dinodsaurus
Here it is:

I will start the talk with the demo of TypeScript basic types and features. I will show how to setup your TypeScript with React project from tsconfig to webpack, even including tslint rules. To round up the talk, I will show how we can leverage TypeScript to write robust React applications.

[2018-02-12 09:25] dinodsaurus commented on #54
Can we move this presentation to march?

[2018-02-13 11:46] anovoselnik commented on #54
Ok, sure!
Sorry for the late response.

[2018-02-13 11:46] anovoselnik commented on #54
I will prepare the details and post them here within couple of days.

[2018-03-13 10:25] abarisic86 opened #62 "Detox E2E testing"
I would like to make a presentation about Detox. It's like they say "Gray box end to end testing framework for mobile apps.".

[2018-03-13 22:36] matejfilkovic opened #63 "Developing Amazon Alexa skills in Node.js"
I had a client for whom I developed an Amazon Echo Show prototype last month. To handle requests coming from Alexa Skill I have used Node.js SDK and AWS Lambda. Since I have a lot of materials (model of interaction, content rendering on screen, handling dialogs ...) and I think that Alexa is very interesting topic, I would like to make a presentation.

[2018-03-15 07:38] gajo4256 commented on #63
@matejfilkovic I am also working on one POC with Alexa using node and AWS Lambda. Would love to here your experience

[2018-03-24 10:30] dinodsaurus opened #64 "Create a How to install node section for nodeschol.io/zagreb website"
We need to make a section that describes how to install node on a local machine so new node users can install it

[2018-03-26 15:05] dinodsaurus commented on #63
Sounds good to me! Would you like to prepare this talk for may? Because we are full for april 💯

[2018-03-26 15:08] dinodsaurus commented on #62
Hey @abarisic86 thanks for this talk proposal! Would you like to give this talk in may? Also could you write a talk description? ;)

[2018-03-26 15:08] #53 closed

[2018-03-26 15:09] #57 closed

[2018-03-27 09:17] dinodsaurus commented on #63
Also could you write a short description, something like this - https://github.com/jszgb/jszgb.github.io/issues/57

[2018-03-28 14:34] matejfilkovic commented on #63
Thanks :). I'll make a description in few days.

[2018-04-04 15:28] dinodsaurus commented on #56
17.4 ;)

[2018-04-04 15:29] dinodsaurus commented on #61
April (17.4)?
And could you write down a short description like this - https://github.com/jszgb/jszgb.github.io/issues/57

[2018-04-17 07:52] matejfilkovic commented on #63
Here is a short description:

Alexa is Amazon’s voice service which enables creation of custom interactions (aka skills). Through my talk, we’ll build an interaction model using Alexa Skill Builder and a web service which acts upon requests sent by Alexa. Web service will be developed using Alexa Skills Kit SDK for Node.js and AWS Lambda platform.  Step by step, we’ll progress from a fundamental r

[2018-04-18 09:43] #61 closed

[2018-04-18 09:43] #56 closed

[2018-07-20 07:48] koss-lebedev opened #67 "React state management with Rematch"
State management is a hot topic, with a lot of libraries trying to tackle the problem in their unique way. Redux seems to have taken a strong lead, with a huge community behind it and great documentation. But is there a way to do even better? Can we improve on Redux ideas to make developer experience better? In this talk, we’ll talk about Rematch, a state management library that strives to push Re

[2018-07-20 07:55] dinodsaurus commented on #67
Thanks a lot @koss-lebedev for this talk proposal!
We currently have a summer break 🏝️ 🏄, but we will be back in September, so I propose to ping you in August with a date and more details 👍

[2018-07-20 10:27] koss-lebedev commented on #67
thanks @dinodsaurus , that'd be awesome 👍 Talk to you then

[2018-07-20 11:21] Zaggen opened #68 "React + Flow: Dive in"
All programmers have a special part of our brains exclusively dedicated to introduce bugs in our apps, even if we don’t like to admit it, we make typos, pass wrong data and return unicorns where a number was expected. So relying on a static analysis tool like Flow to keep an eye on our code, will not only help us avoid having those issues, but more importantly by doing so we’ll look smarter. This

[2018-07-20 12:12] dinodsaurus commented on #68
Thanks @Zaggen , like I said to @koss-lebedev , we are currently on a summer break, but I will get back to you in September 👨‍💻

[2018-07-20 12:20] Zaggen commented on #68
@dinodsaurus sounds good, enjoy your summer break :)

[2018-08-22 13:24] dinodsaurus commented on #67
Hey @koss-lebedev @zaggen , summer vacation is over  😭 , if it works for you I would propose that the meetup date should be 19th September. If it works for you that's great, if not you can make a new date proposition 😉

[2018-08-22 15:04] koss-lebedev commented on #67
Hey @dinodsaurus ,

@Zaggen and I will be attending a different meetup on 20th of September, so, unfortunately, we won't be able to make it on 19th. Would it be possible to arrange it at a different time? We should be able to make it any day starting from the second week of October. Thanks 🙂

[2018-08-22 15:11] dinodsaurus commented on #67
Sure, let's move it to September 12th then if it works for you 🎉

[2018-08-22 15:50] koss-lebedev commented on #67
Awesome, 12th works! We look forward to meeting you guys 👍

[2018-08-23 12:33] vblazenka opened #70 "Redesign site footer"
Footer looks really simple and out of place so I propose we update it with more "cooler" design and update the year from "2017".

I will come up with small design enhancement and propose it in the comments.

[2018-08-27 08:58] JanBleha opened #71 "Meetup with Kiwi.com speakers on Wednesday, November 14"
Hello,
my name is Jan Bleha, I work as a community manager at Kiwi.com. I organize and support a lot of IT events.

Our developers like to speak at meetups all around Europe (for example https://www.meetup.com/BarcelonaJS/events/247277405/ or https://www.meetup.com/Kyiv-ReactJS-Meetup/events/246875625/).

We want to have technical talks, mainly covering GraphQL, Relay and Serverless bringing the t

[2018-08-27 09:20] dinodsaurus commented on #71
Hey Jan, thanks a lot for contacting us. Sounds awesome!! 🎉
Will contact you back in October with more details 😃

[2018-09-06 14:18] Zaggen commented on #67
Hello, @dinodsaurus, quick question at what time will the meetup start to arrange the flights 😀

[2018-09-06 14:23] dinodsaurus commented on #67
Ohhh I forgot to share the event with you 🤦‍♂️  https://www.meetup.com/JavaScript-Zagreb/events/254140208/

[2018-09-06 14:34] Zaggen commented on #67
Thanks a lot :)

[2018-09-12 07:34] dinodsaurus commented on #67
Guys if you need any help, my contact is dinotrojak@gmail.com

[2018-09-12 15:00] Zaggen commented on #67
Thanks, we are fine for now 🙂, we are staying close enough to thr venue, we'll be there in around an hour if that works for you.

[2018-09-12 15:02] dinodsaurus commented on #67
sure, I will be there too 😉

[2018-09-13 08:06] dinodsaurus commented on #67
Thanks for visiting us, hope to see you soon 😉
Youtube link can be found here - https://www.youtube.com/watch?v=zswd4GmKVUE

[2018-09-13 08:06] #67 closed

[2018-09-13 08:06] #68 closed

[2018-09-24 15:52] lekzd opened #72 "JS battle multiplayer game, RxJS, Workers and eval() ✌️"
Hi! I made game for coders in browser. And I want to tell you how it works.

Two players make AI code for units on JS and do battle between each other.
Videos:
left player: https://youtu.be/0r_gOLLxaPs
right player: https://youtu.be/3Mmt-3FYe3U
main screen: https://youtu.be/qv1kHNMwoxc

What are the key takeaways from this talk for the attendees?
1. RxJS-based architecture for client and server, a

[2018-09-24 16:08] vblazenka commented on #72
Hey, it sounds awesome. We will get back to you soon.

[2018-09-26 07:15] vblazenka commented on #72
Hey, @lekzd how does 24th of October sounds to you? (cca. in 3 weeks) Can you make it?
If it sounds okay, take a look at our [past meetups](https://www.meetup.com/JavaScript-Zagreb/events/past/) and write up talk description so that we can put it on event page.

Thanks!

[2018-09-26 07:36] vblazenka commented on #63
Hey, @matejfilkovic ! We have a spot open for the next meetup on the 24th of October. Are you interested in giving this presentation?

[2018-09-26 07:39] lekzd commented on #72
Sounds very good! I will make it!

[2018-09-26 07:40] vblazenka commented on #72
@lekzd Awesome! Post meetup description here today if possible so that I can create new event.

You can ping me on my email if you need help with anything: `blazenka.vedran@gmail.com`

[2018-09-26 13:02] lekzd commented on #72
@wedranb

Korotaev Aleksandr
JS battle multiplayer game, RxJS, Workers and eval() ✌️

One day I got task: make a interactive coding battle game for front-end conference. I want to tell you how to make a really safe code sandbox for JS without eval() using power of Workers. Sharing of state between clients with different roles connected using websocket. And also why reactive programming with RxJS i

[2018-09-26 17:04] matejfilkovic commented on #63
Yes, I'm open to giving the presentation.

[2018-09-26 17:41] vblazenka commented on #63
@matejfilkovic Okay, I will put you in October meetup.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-26 17:58] matejfilkovic commented on #63
Thanks!

[2018-10-06 11:33] antegulin opened #73 "gRPC & protocol buffers on the web"
I would like to talk about gRPC & protobufs, and how it can be used to build a type-safe web API with the use of typescript.

Presentation outline:
* introduction to gRPC & protocol buffers
* gRPC and ~~microservices~ frontend
* demo!
* QA

[2018-10-06 11:35] vblazenka commented on #73
We will get back to you. Do you have a month on your mind when you are available to give this talk?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-06 12:12] 4nte commented on #73
This month after 20th or anytime next month, sounds good?

[2018-10-06 12:31] vblazenka commented on #73
First available slot is in December. If it works for you I will reserve one speaker slot for you.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-06 12:36] 4nte commented on #73
Sure, what date?

[2018-10-06 14:05] vblazenka commented on #73
Not sure, yet. Someone will get back to you.

[2018-10-16 16:17] JanBleha commented on #71
We have the talks for the meetup on November 14 in Zagreb ready, could you create the event on meetup.com?

[Martin Zlámal](https://github.com/mrtnzlml), Kiwi.com Senior Frontend Developer
Talk: **5 essential tools to keep your JS apps sane and scalable**
Abstract: Keeping your JavaScript applications sane and scalable is very challenging and there are no silver-bullet tools for it. Well, actually

[2018-10-16 16:25] vblazenka commented on #71
Thanks! We usually create the event and share it cca. two weeks before the event. That way people don't forget and more people come.

[2018-10-22 07:54] vblazenka commented on #72
Here is the event: https://www.meetup.com/JavaScript-Zagreb/events/255030109/

[2018-10-22 07:55] vblazenka commented on #63
Here is the event: https://www.meetup.com/JavaScript-Zagreb/events/255030109/

[2018-10-22 19:34] matejfilkovic commented on #63
👍

[2018-10-24 19:05] matejfilkovic commented on #63
Here is the link to the repo: https://github.com/matejfilkovic/jszg-alexa

[2018-10-25 06:59] #63 closed

[2018-10-25 07:01] #72 closed

[2018-11-15 07:43] #71 closed

[2018-11-26 20:14] jamzi opened #74 "Firebase: The Good, the Bad and the Ugly"
### Talk summary

Firebase suite gives us the ability to quickly create serverless backend, add authentication, quickly deploy to a CDN and many more. Sound great, right?

Our team used Firebase extensively for the last year in a production environment and I’ll show you what we learned. We’ll explore some of its best features and also take time to talk about the bad and ugly side of the suite.

Ho

[2018-11-27 08:39] vblazenka commented on #74
Hey, @jamzi . Talk looks interesting. We have an open slot this December if you are up for it. We are planning the meetup on 11th or 12th. I will get back to you this week for concrete date.

[2018-11-27 20:42] jamzi commented on #74
Yes, let's do it.
How long are the talks usually? Is there Q&A?

[2018-11-27 21:04] vblazenka commented on #74
Great. We try to have it around 25-30min. Ideal would be 25 because people pay more attention and are not bored. Yes QA after the presentation. :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 21:35] vblazenka commented on #73
@antegulin can you please create a description for this talk? If you need help look at previous meetups for inspiration. [Example.](https://www.meetup.com/JavaScript-Zagreb/events/255585688/)

[2018-11-29 11:48] dinodsaurus commented on #73
Next js event will be 12.12.2018 ;)

[2018-11-29 12:45] vblazenka commented on #74
I can confirm that next event will be 12.12.2018. at 18:30. I will send you JS Meetup event page after we publish it.

[2018-11-29 13:28] 4nte commented on #73
@wedranb
gRPC-Web: Typed Frontend Development

gRPC is a high performance & multi-platform RPC framework developed by Google. It is typically used as a communication framework for microservices, but In this talk I will show you how you can use gRPC on the frontend to achieve type-safe API's with help of typescript and protocol buffers.

[2018-12-03 09:22] vblazenka commented on #74
Here it is: https://www.meetup.com/JavaScript-Zagreb/events/256788177/ 🎉

[2018-12-03 09:22] vblazenka commented on #73
Here it is: https://www.meetup.com/JavaScript-Zagreb/events/256788177/ 🎉

[2018-12-13 19:35] #74 closed

[2018-12-13 19:35] #73 closed

[2018-12-13 19:37] vblazenka commented on #62
@abarisic86 are you still interested in giving this talk? Or should we close the issue?

[2018-12-13 19:38] vblazenka commented on #54
@anovoselnik Are you still interested in giving this talk?

[2018-12-13 19:39] #54 closed

[2018-12-13 19:39] #59 closed

[2018-12-13 19:40] vblazenka commented on #52
@silvenon are you interested in giving a talk next year about styling solutions for React? :)

[2018-12-22 01:42] silvenon commented on #52
I'd like to do a talk on CSS Modules + PostCSS. Someone else could do the Styled Components/Emotion one, ideally on the same day?

[2018-12-22 10:18] vblazenka commented on #52
@silvenon great, you can create a separate issue for your talk proposal. I will close this issue and I will figure out how to handle Style Components part, maybe I will do it.

[2018-12-22 10:18] #52 closed

[2018-12-26 16:52] #62 closed

[2018-12-27 18:16] capJavert opened #75 "TL;DR into browser extensions"
## Cross browser extensions

I would like to give a talk about developing a cross browser extensions. I would talk about:

Some intro stuff:
- basic tools (SPOILER: JavaScript is used 😉)
- quickstart guide
- common pitfalls
- basic project setup
- common extension types

Kinda advanced stuff: (can be tailored to what audience is interested in)
- using advanced browser features
- managing deploymen

[2018-12-27 18:19] vblazenka commented on #75
Hi, @capJavert ! Thank you for the proposal.

We have an open spot in January if you are interested? (It will be 3rd or last week of January)

[2018-12-27 18:21] capJavert commented on #75
Hi @vblazenka , I should be able to make it. Count me in 👍

[2018-12-27 18:25] vblazenka commented on #75
Great, I will need a short description for your talk so I can put it on the event page. Look past meetups for inspiration. [Like this](https://www.meetup.com/JavaScript-Zagreb/events/254140208/).

Please keep your presentation around 20-25min, this is a new rule we have. People sometimes extend their talks too much and nobody can follow it. So it's better to have it short and sweet with some tips

[2018-12-27 19:49] capJavert commented on #75
Cool, noted. Here is my description:

Browser extensions were a huge mess until not so long ago. Today with new WebExtensions API they are much more accessible and we can develop extensions that work inside all major browsers and share the same codebase. Other then intro into this new API, you will also hear about concepts, gotchas and ideas on how to use web extensions to enhance user experience

[2019-01-21 09:43] vblazenka commented on #75
@capJavert Hey, unfortunately we will need to postpone meetup for February. I will get back to you with a date if you are still interested. Thanks.

[2019-01-21 11:16] capJavert commented on #75
Sure. Let me know.

[2019-02-14 12:34] vblazenka commented on #75
I see you confirmed you are going but I will put it here: https://www.meetup.com/JavaScript-Zagreb/events/258728873/

[2019-02-20 19:13] capJavert commented on #75
@vblazenka where should I put the slides? Slides folder in README is 404.

[2019-02-20 19:40] vblazenka commented on #75
@capJavert Thank you for awesome talk! :)

Atm. we don't store presentations, maybe you can add presentation to slideshare? and link it here...

We plan to do the site redesign this year and we will try to figure out this better. Thanks! :)

[2019-02-20 19:51] capJavert commented on #75
Ok gotcha, I have it here in PDF [TL;DR into browser extensions](https://drive.google.com/file/d/141GKV0ty1VlSHJ8VgzVB26_njWOqNOtC/view) .
Thanks again for the chance and see you around.  🤘

[2019-02-22 21:18] #75 closed

[2019-03-04 13:23] WhitePointX opened #76 "Using Node.js with help of AWS to find a new apartment!"
Hello, I would like to give a talk about a simple Node.js script I made that does the searching for new apartment ads for me.

Short description:
These days it is very hard to find a new place to live in Zagreb through advertisement sites because every remotely good apartment get's taken fast. I decided to write a simple script in Node.js that would go to an advertisement page every 5 minutes and

[2019-03-06 14:52] antetmc2 opened #77 "Introduction to packing and building applications with Webpack 4"
Hello,
I have one web-related presentation I held not long ago at .NET meetup in Vodnjan and which was very-well received, so I am interested in holding it in Zagreb as well. I think that it would be good to hold it because it's something necessary for a lot of Web developers. I am also working a lot on it in Infobip, so I am very interested in sharing at least some of my knowledge to others. :)

[2019-03-06 14:55] vblazenka commented on #77
Hi, sounds nice. I can add you to April meetup (we don't have an exact date yet). How does it sound? :)
Btw. we started doing max 25min presentations so keep that on mind.

[2019-03-06 14:59] antetmc2 commented on #77
Sounds good, I should be able to hold it in April :) 25 mins shouldn't be a problem

The description may be a bit different depending on which parts I'll change/shorten/remove (this description is for 45min version), but I'll send it once I'll prepare it :)

[2019-03-06 15:05] vblazenka commented on #77
Great! :) Get back with description by the end of this month so I can create event. Cheers!

[2019-03-11 15:44] dinodsaurus opened #78 "React hooks"
Hooks got added to React in 16.8 version. They let you use state and other React features without writing a class. Im pretty sure you heard somewhere this new buzz word but is it really a buzzword or a new thing that will make our lives easier?  In this presentation we will take a dive into react functions, hooks, why are they useful and how to use them in real projects.

[2019-03-18 11:57] antetmc2 commented on #77
@vblazenka Here is the description: :)

*Title*: Introduction to packing and building applications with Webpack 4

*Presenter*: Ante Tomić, Software Engineer (Infobip)

*Description*: Are you familiar with developing apps and having to be careful to „include that script before your own because the application won't work“? Or have you ever used Webpack or similar solutions and wondered how they wor

[2019-06-03 09:06] dinodsaurus commented on #78
@silvenon I think you're the right guy for this job 😉

[2019-06-03 09:07] #77 closed

[2019-06-03 09:07] #76 closed

[2019-06-03 09:24] #70 closed

[2019-06-03 13:01] silvenon commented on #78
Sure!

[2019-06-03 14:17] silvenon commented on #78
The description:

[2020-01-28 05:12] #78 closed

[2020-01-28 08:43] vblazenka opened #81 "Stop Stalling: Streaming video on the web"
The use of video on the web and on mobile is growing. It is as easy as adding a <video src=”video.mp4”>, and you’re good to go. But, all the top video sites (YouTube, Netflix, Hulu) all stream their video. What do they know that we don’t know? Is streaming more efficient? Do I need any special equipment to create or serve video streams?

In this talk, we’ll learn the how to create and stream video

[2020-02-12 16:58] silvenon opened #82 "Escaping JavaScript Fatigue / Improving Work-Life Balance"
I would very much like to see a presentation like that from someone who has struggled with this and is satisfied with how they're dealing with it now.

[2020-03-07 11:24] capJavert opened #83 "1,2,3 Machine Learning!"
I would like to give a talk about Machine Learning inside native React applications.

## Summary

Machine Learning has been taboo subject forever. Is it really that complex? Well not anymore! This talk aims to show practical examples of ML features that you can develop, pitch or sell with your next application or project!

Presentation will contain many demo examples (inside React Native applicati

[2020-03-07 15:05] #81 closed

[2020-03-09 10:29] vblazenka commented on #83
Hey @capJavert, thank you for your presentation proposal! 🎉

~Would you be interested in doing the talk this March or April?~
Would you be interested in doing this talk in the first week of April?

_Note_: We are trying to adjust meetup to be good for all speakers.

[2020-03-09 12:54] capJavert commented on #83
I would prefer April because March looks pretty busy for me so far :)

On Mon, 9 Mar 2020 at 11:29, Vedran Blazenka <notifications@github.com>
wrote:

[2020-03-09 13:57] vblazenka commented on #83
@capJavert is first week of April okay for you? There is a possibility that the meetup will be postponed because of the coronavirus outbreak. We will need to see how the situation continues here in Zagreb. 🙏

[2020-03-09 14:08] capJavert commented on #83
Sure, first week of April is ok.

On Mon, 9 Mar 2020 at 14:57, Vedran Blazenka <notifications@github.com>
wrote:

[2020-03-11 22:35] renatoruk opened #84 "Frontend TDD with Cypress"
I'd like to give a presentation about e2e testing framework, [Cypress](https://www.cypress.io/).

Cypress is very fast in execution and has a dedicated interface with a command log which makes it ideal for test driven development. I'll show a bit of setup, methodologies and which scenarios/features would be ideal to cover with Cypress. Also, I'll showcase how it can make you more efficient and fas

[2022-05-26 10:59] capJavert commented on #83
@vblazenka as I see meetups popping up again if you are still interested into the topic let me know.

[2022-05-27 05:40] vblazenka commented on #83
@capJavert yeah, glad to hear that. We could organize something between 16.-31.6?  How is that sounding to you?

[2022-05-27 05:41] vblazenka commented on #84
@renatoruk Hey 👋 we are slowly starting to organize meetup again and I was wondering if you would like to talk on this topic or if you have some other ideas feel free to open a new issue and we can discuss them?

[2022-05-31 07:10] capJavert commented on #83
@vblazenka Cool, towards the end of the month would be possible in general but when you have a concrete date we can confirm?

[2022-05-31 09:34] vblazenka commented on #83
@capJavert hmm we could do 29.6 (Wednesday), what do you think? (or the day before/after that date)

[2022-06-01 13:42] capJavert commented on #83
@vblazenka sounds good.

[2022-06-08 15:35] renatoruk commented on #84
Hey @vblazenka!  👋 For the time being, I am not available for presentations due to other focuses. I'll close the issue for now and open a new one if I have something interesting.

[2022-06-08 15:35] #84 closed

[2022-06-10 11:37] vblazenka commented on #83
@capJavert can you let me know if the summary for the talk is still good from your POV? If not, feel free to update it or add a comment with a new description that is more to your liking. 🙇

[2022-06-13 08:51] capJavert commented on #83
It is generic enough to still be relevant, I'll work on it some more in coming weeks and update if something major adds in.

[2022-06-27 20:48] antetmc2 opened #85 "The lazy developer guide: How to automate code updates?"
_Title:_ __The lazy developer guide: How to automate code updates?__

_Description:_
How to update hundreds of projects all at once? With organizations rapidly growing, demand for the scalability of the teams grows which directly impacts projects structure and ownership. The usual dilemma is mono- vs. multi-repos, but ... What if I tell you that it does not matter much? Both approaches can punch y

[2022-06-28 05:11] vblazenka commented on #85
Thanks! :) Just to confirm  6th of July (next Wednesday) works for you?

[2022-07-07 09:26] silvenon opened #86 "End-to-end testing made easy with Playwright"
I would like to give this presentation. 💪

## Summary

We all know the benefits of end-to-end testing, but what about putting it into practice? I'll be the first one to admit that I tend to avoid it. I used to think that it was because I was lazy, incompetent or whatever, but the truth is much simpler.

I learned how to write Cypress tests, which was very useful, but even though they saved me many

[2022-07-07 13:30] vblazenka commented on #86
@silvenon awesome! :) We will have pause during August and hopefully you will still be interested in giving the presentation in September or October 🤞

[2022-08-30 10:54] #83 closed

[2022-09-07 07:52] vblazenka commented on #86
Hey @silvenon 👋 . Let's say summer is over and it's time to start with our meetups. 😉

I'm tinking about organizing meetup on 21st or 28th of September (so 2-3 weeks from now). Do you have a preference, how does it sound to you?

[2022-09-07 07:53] #85 closed

[2022-09-07 09:38] silvenon commented on #86
21st sounds best!

[2022-09-07 09:51] vblazenka commented on #86
@silvenon great!

[2022-09-13 07:56] vblazenka commented on #86
@silvenon would it be possible for you to present if we move the meetup to the week after the original plan so that we do it on 27th or 28th? 🙏

[2022-09-13 07:58] silvenon commented on #86
That's fine too 👌

[2022-09-29 09:55] silvenon commented on #86
✅

[2022-09-29 09:55] #86 closed

[2022-09-29 10:04] silvenon opened #87 "Comparison of various deployment services"
This is a presentation request. I'm just getting into various deployment services like Vercel, Netlify, Cloudflare Workers/Pages, Fly.io etc. I'm getting pretty overwhelmed with so many choices, and I would love to hear from a someone who is enthusiastic about this subject to give some overview of recommendations of which ones are good for which purposes. I'm sure it would encourage many developer

[2022-09-29 10:34] silvenon opened #88 "Intro to Remix"
I would like to give this presentation. I've been using [Remix](https://remix.run/) quite a lot for my side projects, and I would very much like to teach it to others.

# Intro to Remix

Remix is a React framework, people often compare it to Next.js, but it has a very different goal. One of the key differences is that Remix recognizes that deployment services have advanced enough to fully embrace

[2022-09-29 12:50] vblazenka commented on #88
Woohoo! :)

Do you have desired month when you would like to give this talk?

[2022-09-29 13:17] silvenon commented on #88
Nope! Whenever you think is good 👌

[2022-11-08 05:53] #88 closed

[2022-11-08 22:12] xiphoss1 opened #89 "tRPC - Can we really move fast and break nothing?"
This talk will be an introductory talk to [tRPC ](https://trpc.io/) and how it works. I will talk about benefits and drawbacks of using tRPC in regards of project and team size, why it is useful as a traditional API replacement - all with the help of Typescript!

tRPC is a well-documented and production ready library that allows front end devs make full stack apps with very little effort. Sharing

[2022-11-09 06:36] vblazenka commented on #89
Awesome! Let's do this in January :)

[2022-11-10 14:09] antetmc2 opened #90 "Topic: I hate (Web) development."
_Title:_ __I hate (Web) development.__

_Description:_
3 devs walk into a bar and a Web developer says _"I hate Web development"_. Sounds ironic ... especially from a front-end developer, right? :) Did you ever get so irritated that you said _"I hate development."_? There will always be situations like that, so in this interactive session I wanna share some of my not-so-good experiences, what I do